MONGOBD_READ_URI = mongodb://USER:PASSWORD@localhost:27017/?authSource=admin&readPreference=primary&appname=MongoDB%20Compass&ssl=false
MONGOBD_WRITE_URI = mongodb://USER:PASSWORD@localhost:27017/?authSource=admin&readPreference=primary&appname=MongoDB%20Compass&ssl=false